<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <context:component-scan base-package="com.chaozhis.web"/>

    <mvc:default-servlet-handler/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/static/**"/>
            <bean class="com.chaozhis.interceptor.PermissionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- pathVariable XSS过滤 -->
    <mvc:annotation-driven enable-matrix-variables="false">
        <mvc:path-matching path-helper="xssUrlPathHelper"/>
    </mvc:annotation-driven>
    <bean id="xssUrlPathHelper" class="com.chaozhis.utils.XssUrlPathHelper">
    </bean>
    <bean id="multipartResolver" class="com.chaozhis.utils.XssCommonsMultipartResolver">
        <property name="maxUploadSize" value="10240"/>
        <property name="maxInMemorySize" value="512"/>
    </bean>

    <bean id="freemarkerViewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="requestContextAttribute" value="request"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="order" value="0"/>
    </bean>

</beans>