body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote {
    margin: 0;
    padding: 0;
    text-align: left;
}

body {
    color: #666;
    font: normal 14px 'PingFangSC-Light', 'Microsoft Yahei', sans-serif;
}

input, button {
    font: normal 14px 'PingFangSC-Light', 'Microsoft Yahei', sans-serif;
    outline: none;
}

img {
    border: 0;
}

ol, ul {
    list-style: none;
}

a:link {
    color: #666;
    text-decoration: none;
}

a:visited {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a.top:link {
    color: #fff;
    text-decoration: none;
}

a.top:visited {
    color: #fff;
    text-decoration: none;
}

a.top:hover {
    color: #fff;
    text-decoration: none;
}

a.user:link {
    color: #ffc600;
    text-decoration: none;
}

a.user:visited {
    color: #ffc600;
    text-decoration: none;
}

a.user:hover {
    color: #ffc600;
    text-decoration: underline;
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.clear {
    zoom: 1
}

.clear:after {
    content: "";
    display: block;
    clear: both
}

h2 {
    font-size: 18px;
    border-bottom: 1px #dbcee7 solid;
    margin-bottom: 15px;
}

.header {
    background: #2a0549;
    color: #fff;
    height: 33px;
    padding-top: 7px;
    margin-bottom: 20px;
}

.cz-logo {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.cz-logo-r {
    color: #fff;
}

/* commom */
.msg-warning {
    background-color: #fcf8e3;
    border: 1px #faf2cc solid;
    color: #8a6d3b;
    border-radius: 4px;
    margin: 15px;
    padding: 15px;
}

.cz-btn {
    display: inline-block;
    text-align: center;
    padding: 1px 7px 1px 7px;
    border: 1px #eee solid;
    border-right: none;
}

.cz-btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

.cz-btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px #eee solid;
}

.cz-btn.btn-success {
    background: #5cb85c;
    color: #fff;
}

.cz-form {

}

.cz-form li {
    line-height: 40px;
    height: 40px;
}

.cz-form label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 10px;
}

.cz-form input {
    border-radius: 3px;
    height: 24px;
    width: 200px;
    border: 1px #ddd solid;
    font-size: 14px;
    padding: 2px 5px;
    outline: none;
}

.cz-form textarea {
    border-radius: 3px;
    height: 100px;
    width: 600px;
    border: 1px #ddd solid;
    font-size: 14px;
    padding: 2px 5px;
    outline: none;
}

.cz-form span {
    color: #f00;
}

.cz-form em {
    display: inline-block;
    padding: 1px 7px;
    border: 1px #eee solid;
    border-right: none;
    font-style: normal;
}

.cz-form em.current, .cz-form em:hover {
    background: #521288;
    color: #fff;
    cursor: pointer;
}
.cz-form em:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.cz-form em:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px #eee solid;
}
.cz-form button {
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 4px 12px 5px 12px;
    color: #fff;
    background: #5cb85c;
    font-size: 14px;
}

.cz-form button.valicode {
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    background: #521288;
    font-size: 14px;
    margin: -3px 0 0 4px;
    display: inline-block;
    vertical-align: middle;
}

.cz-filter {
}

.cz-filter li {
    margin: 8px 0;
    line-height: 24px;
}

.cz-filter label {
    display: inline-block;
    width: 50px;
    text-align: left;
    padding-right: 10px;
    font-weight: 700;
}

.cz-filter span {
    display: inline-block;
    text-align: right;
    margin-right: 14px;
    padding: 0 7px;
    border: 1px #eee solid;
    border-radius: 3px;
}

.cz-filter span.current, .cz-filter span:hover {
    background: #521288;
    color: #fff;
    cursor: pointer;
}

/* framework */

.cz-wrap {
    margin: 0 auto;
    width: 900px;
    overflow: auto;
    line-height: 26px;
}

.cz-content {
    width: 730px;
    min-height: 600px;
}

.cz-content h2 span {
    font-weight: 400;
    font-size: 12px;
}

.cz-content .num {
    font-family: Georgia, sans-serif;
    font-size: 28px;
    color: #16b800;
}

.cz-sidebar {
    width: 145px;
    margin-right: 25px;
    height: 170px;
}

.cz-sidebar h2 {
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #dbcee7;
}

.cz-sidebar li {
    text-align: right;
    line-height: 26px;
}

.cz-sidebar .text {
    text-align: right
}

.cz-sidebar .text span {
    font-family: Georgia, sans-serif;
    font-size: 28px;
    color: #cc7eb1;
}

/**/

.footer {
    text-align: center;
    padding: 0 0 45px 0;
    font-size: 12px;
    margin-top: 20px;
}

.cz-footer li {
    float: left;
    margin-right: 20px;
}

/* modal component */
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 650px;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    perspective: 1300px;
}

.md-content {
    transform-style: preserve-3d;
    transform: rotateY(-70deg);
    transition: all 0.3s;
    opacity: 0;
    border: 5px solid #ffffff;
}

.md-content img {
    display: block;
}

.md-close {
    background: #222;
    position: absolute;
    right: -18px;
    top: -17px;
    cursor: pointer;
    color: #fff;
    width: 20px;
    height: 20px;
    font-weight: 700;
    text-indent: 5px;
    border-radius: 100%;
    border: 3px solid #fff;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}

.md-show {
    visibility: visible;
}

.md-show .md-content {
    transform: rotateY(0deg);
    opacity: 1;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

table.pro {
    margin: 0 auto;
    font-size: 12px;
    border-top: 1px #e0e0e0 solid;
    border-right: 1px #e0e0e0 solid;
}

table.pro tr th {
    background: #f2f2f2;
    line-height: 15px;
    color: #333;
    padding: 8px 5px;
    border-bottom: 1px #e0e0e0 solid;
    border-left: 1px #e0e0e0 solid;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}

table.pro tr td {
    padding: 4px 5px;
    line-height: 18px;
    border-bottom: 1px #e0e0e0 solid;
    border-left: 1px #e0e0e0 solid;
}

table.pro tr.current {
    background: #ebffd8;
}

table.pro tr.current td {
    line-height: 36px;
}

table.pro td.wait-for-pay {
    background: #fff2f2;
}

table.pro td.running {
    background: #ebfff6;
}

table.pro td.over {
    background: #ddd;
}

table.pro .non-payment {
    color: #c00;
}

table.pro .paid {
    color: #00b838;
}

table.pro .over {
    color: #000;
}

/* cz_post*/
.cz-post {

}

.cz-post li {
    vertical-align: bottom;margin:10px 0;
}

.cz-post label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 10px;
}

.cz-post input {
    border-radius: 3px;
    height: 24px;
    width: 600px;
    border: 1px #ddd solid;
    font-size: 14px;
    padding: 2px 5px;
    outline: none;
}

.cz-post textarea {
    border-radius: 3px;
    height: 60px;
    width: 600px;
    border: 1px #ddd solid;
    font-size: 14px;
    padding: 2px 5px;
    outline: none;
}

.cz-post em {
    display: inline-block;
    padding: 1px 7px;
    border: 1px #eee solid;
    border-right: none;
    font-style: normal;
}

.cz-post em.current, .cz-post em:hover {
    background: #521288;
    color: #fff;
    cursor: pointer;
}
.cz-post em:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.cz-post em:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px #eee solid;
}
.cz-post button {
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 4px 12px 5px 12px;
    color: #fff;
    background: #5cb85c;
    font-size: 14px;
}

.cz-post button.valicode {
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    background: #521288;
    font-size: 14px;
    margin: -3px 0 0 4px;
    display: inline-block;
    vertical-align: middle;
}
