body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote {
    margin: 0;
    padding: 0;
    text-align: left;
}

body {
    color: #666;
    font: normal 14px 'PingFangSC-Light', 'Microsoft Yahei', sans-serif;
}

img {
    border: 0;
}

ol, ul {
    list-style: none;
}

a:link {
    color: #55295b;
    text-decoration: none;
}

a:visited {
    color: #55295b;
    text-decoration: none;
}

a:hover {
    color: #cc7eb1;
    text-decoration: underline;
}

a.top:link {
    color: #fff;
    text-decoration: none;
}

a.top:visited {
    color: #fff;
    text-decoration: none;
}

a.top:hover {
    color: #ffc000;
    text-decoration: underline;
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.clear {
    zoom: 1
}

.clear:after {
    content: "";
    display: block;
    clear: both
}

h2 {
    font-size:18px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 15px;
}

.header{
    background: #360064;
    color: #fff;
    height: 33px;
    padding-top:7px;
    margin-bottom: 20px;
}
.cz-logo {
    color: #ffc000;
}
.cz-logo-r {
    color: #fff;
}
/* commom */
.msg-warning {
    background-color: #fcf8e3;
    border:1px #faf2cc solid;
    color: #8a6d3b;
    border-radius: 4px;
    margin: 15px;
    padding: 15px;
}
.cz-form {

}
.cz-form li {
    line-height: 40px;
    height:40px;
}
.cz-form label{
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 10px;
}
.cz-form input{
    border-radius: 3px;
    height: 24px;
    width: 200px;
    border: 1px #ddd solid;
    font-size:16px;
    padding: 2px 5px;
    outline: none;
}
.cz-form span{
    color:#f00;
}
.cz-form button {
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 6px 12px 7px 12px;
    color: #fff;
    background: #5cb85c;
    font-size:14px;
}
/* framework */

.cz-wrap {
    margin: 0 auto;
    width: 900px;
    overflow: auto;
    line-height: 26px;
}

.cz-content {
    width: 700px;
}

.cz-sidebar {
    width: 175px;
    margin-left: 25px;
    height: 200px;
}
.cz-sidebar h2 {
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    text-align: right;
    margin: 20px 0 10px 0;
    border-bottom: 1px solid #dfdadf;
}

.cz-sidebar li {
    text-align: right;
    line-height: 22px;
}

.cz-sidebar .text {
    text-align: right
}

.cz-sidebar .text span {
    font-family: Georgia, sans-serif;
    font-size: 28px;
    color: #cc7eb1;
}

/**/

.footer {
    text-align: center;
    padding: 0 0 45px 0;
    font-size: 12px;
    margin-top:20px;
}

.cz-footer li {
    float:left;
    margin-right:20px;
}

/* modal component */
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 650px;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    perspective: 1300px;
}

.md-content {
    transform-style: preserve-3d;
    transform: rotateY(-70deg);
    transition: all 0.3s;
    opacity: 0;
    border: 5px solid #ffffff;
}

.md-content img {
    display: block;
}
.md-close {
    background: #222;
    position: absolute;
    right: -18px;
    top:-17px;
    cursor: pointer;
    color: #fff;
    width: 20px;
    height: 20px;
    font-weight: 700;
    text-indent: 5px;
    border-radius: 100%;
    border: 3px solid #fff;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}

.md-show {
    visibility: visible;
}

.md-show .md-content {
    transform: rotateY(0deg);
    opacity: 1;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}